body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('https://i.ibb.co/sq4j9L8/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  /* padding: 20px; */
  /* border: 2px solid black; */
  gap: 2rem;
  /* background-color: black; */
}

.control-buttons{
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  /* border: 1px solid red; */
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}
.control-buttons button{
  width: 16vw;
  max-width: 100%;
  padding: 1vw 2vw;
  outline: none;
  font-size: 2.1vw;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffdad6;
  color: #ff0872;
  border: none;
  border-top-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}
/* .control-buttons button::after{
  content: '';
  position: absolute;

  width: 650px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  z-index: 1;
} */
.control-buttons button:hover{
  background-color: #fff;
  color: #ff0875;
}
.image-frame{
  position: relative;
  top: -0;
  right: 0;
  width: 24vw;
  height: 28vw;
  z-index: 1000;
  
  /* border: 2px solid red; */
  /* padding: 0 60px; */
}
.side-img{
  width: 30%;
  height: 100%;
  z-index: 999999;
  /* border: 2px solid red; */
}

.side-img img{
  width: 100%;
  height: 99.5vh;
}
 
.button{
  position: relative;
  left: 0;
  /* border: 1px solid red; */
}


.divider{
  /* width: 100%; */
  height: 2px;
  background-color: #ffdad6;
  /* position: absolute; */
  position: absolute;
 
  width: 74vw; 
   /* transform: translateX(-20px);   */
}
.button button:hover + .divider{
  background-color: #fff;
}
.web-cam-outer{
  position: relative;
  width: 100%;
  height: 100%;
  /* top: 0; */
  /* left: 0; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0px; */
  overflow: hidden;
  /* background-color: red; */
  /* border: 2px solid red; */
}
.web-cam-container{
  position: relative;
  top: 0;
  left: 0;
  width: 95%;
  height: 98%;
  overflow: hidden;
  /* border: 2px solid red; */
  /* padding: 0; */
  display: flex;
  z-index: 9999;
  /* align-items: center; */
  justify-content: center;
}



.overlay-img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* height: 500px; */
  z-index: 999;
}
.overlay-img img{
  width: 100%;
  box-shadow: none;
}

.webcam{
width: 95%;
height: 97%;
object-fit: cover;
margin-top: 0.6vh;
/* z-index: 22; */
}

.capture-img{
  margin-top: -0.2vh;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  transform: scale(1.56,0.97);
}

/* @media screen and (min-width:1400px) {
  body{
    background-color: red;
  }
  .button button{
    width: 300px;
  }
  .divider{
    width:calc(90vw - 400px)
  }
  .control-buttons,.image-frame,.side-img{
    width: 450px;
  }
}

@media screen and (min-width:1900px) {
  body{
    background-color: black;
  }
  .control-buttons,.image-frame,.side-img{
    width: 600px;
  }
  .button button{
    width: 400px;
    padding: 20px;
    font-size: 3rem;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
  }
  .divider{
 
  }
}

@media screen and (min-width:2300px) {
  body{
    background-color: #ff0872;
  }
  .main-container{
    padding: 30px;
  }
  .control-buttons,.image-frame,.side-img{
   width: 660px;
  }
  .divider{
    width: calc(90vw - 700px);
  }
} */

.success-img{
  width: 30px;
}

.show-notification{
  padding: 15px 30px;
  border-radius: 13px;
  background-color: #ffdad6;
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-notification p{

  color: #ff0872;
}

.home-button{
  position: absolute;
  right: 2vw;
  top: -2vw;
}

.home-button button{
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  font-size: 1.2vw;
}

@media screen and (max-width:1300px) {
  .image-frame{
    /* width: 28vw;
    height: 30vw; */
  }
  .webcam{
    /* width: 100%;
    height: 100%; */
  }
  .home-button{
    /* top: -5vw; */
  }
}

@media screen and (max-width:800px) {
  .home-button{
    top: -3vw;
  }
}